{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "root": "src",
            "rootPathPrefix": "~/"
          },
          {
            "root": "src/renderer",
            "rootPathPrefix": "r/"
          },
          {
            "root": "src/renderer/components",
            "rootPathPrefix": "c/"
          },
          {
            "root": "src/renderer/utils",
            "rootPathPrefix": "ru/"
          }
        ]
      }
    ]
  ],
  "presets": ["@babel/preset-typescript", "@babel/preset-env"]
}
