<div id="root">
  <div class="cover"></div>
  <div class="hoverPad">
    <div class="name lighter">
      Departures ~あなたにおくるアイの歌~
    </div>
    <div class="artist bold">
      未知艺术家
    </div>
  </div>
</div>
<style>
  #root {
    display: flex;
    max-width: 300px;
  }
  #root:hover {
    background-color: var(--hoverBgColor, rgb(187, 187, 187));
  }
  .cover {
    flex-shrink: 0;
    width: var(--coverWidth, 90px);
    height: var(--coverWidth, 90px);
  }
  .name,
  .artist {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
  }
  .name {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
    font-size: var(--fontSize, 18px);
  }
  .artist {
    grid-area: 2 / 1 / 3 / 2;
    align-self: start;
    font-size: calc(var(--fontSize, 18px) * 0.8);
  }
  .lighter {
    font-weight: lighter;
  }
  .bold {
    font-weight: bold;
  }
  .hoverPad {
    display: grid;
    color: white;
  }
  .hoverPad:hover > div {
    color: var(--hoverPadColor, white);
  }
</style>
