<div id="main">
  <div class="mask"></div>
  <div class="menu">
    <!-- <div class="item selected">无</div>
    <div class="item">A到Z</div>
    <div class="item">歌手</div>
    <div class="item">专辑</div> -->
  </div>
</div>
<style>
  /* 上下移动时以28px为单位(字体行高) */
  * {
    cursor: default;
  }
  .menu {
    z-index: 4;
    position: relative;
    box-shadow: rgba(128, 128, 128, 0.49) 0 10px 13px;
    padding: 1px;
    background-color: whitesmoke;
    border: 1px black solid;
    width: max-content;
  }

  .selected {
    background-color: var(--selected, rgb(113, 204, 192));
  }

  .mask {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(202, 202, 202, 0.199);
  }

  .item:hover {
    box-shadow: inset 0 0 2px 15px rgba(218, 218, 218, 0.5);
  }

  .item {
    line-height: 28px;
    height: 28px;
    width: 105px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
  }
</style>