<div id="root">
  <div class="icon checkBox"></div>
  <div class="name">
    <div class="text">
      <div class="icon wave"></div>
      <span>Departures ~あなたにおくるアイの歌~</span>
    </div>
    <div class="icon play"></div>
    <div class="icon addOrRemove"></div>
  </div>
  <div class="artist">未知艺术家</div>
  <div class="album">GREATESTHITS2011-2017'ALTEREGO'</div>
  <div class="date">2017年</div>
  <div class="genre">R&B</div>
  <div class="duration">3:07</div>
</div>
<style>
  
  #root:hover {
    color: var(--hoverColor, black);
    background-color: var(--hoverBgColor, #d9d9d9);
  }
  #root {
    display: grid;
    grid-template-rows: 48px;
    grid-template-columns: 48px 1.5fr 1fr 1fr 64px 1fr 64px;
    color: var(--color, gray);
    background-color: var(--background-color, transparent);
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px
  }
  .wave {
    position: relative;
    display: none;
    background: transparent;
  }

  .wave svg {
    height: 14px;
    width: 14px;
  }

  .play {
    right: 48px;
  }

  .addOrRemove {
    right: 0;
  }

  .name .text {
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
  }

  #root:hover .icon {
    visibility: visible;
  }

  .icon {
    visibility: hidden;
    flex-shrink: 0;
    height: 48px;
    width: 48px;
  }

  .checkBox {
    grid-column: 1 / 2;
  }

  .name {
    grid-column: 2 / 3;
    color: var(--nameColor, black);
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .artist:hover, .album:hover {
    color: var(--color, gray)
  }

  .artist {
    grid-column: 3 / 4;
  }

  .album {
    grid-column: 4 / 5;
  }

  .date {
    grid-column: 5 / 6;
    width: 50px;
    margin-right: 20px;
  }

  .genre {
    grid-column: 6 / 7;
    overflow: hidden;
    margin-right: 20px;
  }

  .duration {
    grid-column: 7 / 8;
    margin-right: 10px;
  }
  .artist,
  .album {
    overflow: hidden;
    margin-right: 20px;
  }

  /* @media (max-width: 1200px) {
    .album {
      display: none;
    }
  }

  @media (max-width: 850px) {
    .date {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .style {
      display: none;
    }
  } */
</style>