<div id="root" class="preference">
  <div class="icon random">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="17.9266"
      height="14.1301"
      viewBox="0 0 17.9266 14.1301"
    >
      <title>random</title>
      <g id="图层_2" data-name="图层 2">
        <g id="图层_1-2" data-name="图层 1">
          <path
            d="M0,3.1534c8.6191,0,6.1193,7.4919,17.1259,7.9033"
            fill="inherit"
            stroke="inherit"
            stroke-miterlimit="10"
          />
          <polyline
            points="14.546 8.145 17.126 11.057 14.546 13.787"
            fill="inherit"
            stroke="inherit"
            stroke-miterlimit="10"
          />
          <path
            d="M0,11.0567c8.6191,0,6.3791-7.344,17.3857-7.7554"
            fill="inherit"
            stroke="inherit"
            stroke-miterlimit="10"
          />
          <polyline
            points="14.712 5.96 17.244 3.153 14.546 0.346"
            fill="inherit"
            stroke="inherit"
            stroke-miterlimit="10"
          />
        </g>
      </g>
    </svg>
  </div>
  <div class="randomAll">无序播放所有(<span id="total"></span>)</div>
  <div class="sort">
    <span>排序依据: </span>
    <span id="sortBy">无</span>
    <div class="menuSortBy"></div>
  </div>
  <div class="type">
    <span>类型: </span>
    <span id="type">所有流派</span>
    <div class="menuSortType"></div>
  </div>
</div>
<style>
  #root {
    padding: 0 25px;
    height: 50px;
    font-size: 14px;
    align-items: center;
    display: flex;
  }
  .icon {
    display: flex;
  }
  svg {
    margin: auto;
  }
  .random svg {
    fill: none;
    stroke: black;
    width: 16px;
    height: 16px;
  }
  .randomAll {
    margin-left: 10px;
  }
  .sort,
  .type {
    position: relative;
    align-self: start;
    margin-top: 16px;
    margin-left: 20px;
  }
  #sortBy, #type{
    color: var(--color, black);
  }
</style>
