<div id="root" :class='$activated'>
  <div class="icon"></div>
  <div class="text">[text]</div>
</div>
<style>
  #root {
    --color: [#color];
    --bgColor: [#bgColor];
    --hoverBgColor: [#hoverBgColor];
    --height: 30px;
    font-size: 14px;
    padding: 0 10px;
    user-select: none;
    background-color: var(--bgColor);
    height: var(--height);
  }

  .text {
    line-height: var(--height);
  }

  #root:hover {
    background-color: var(--hoverBgColor);
  }
  
  #root.activated {
    background-color: var(--color);
  }

</style>