<div class="main">
  <div>
    <div class="cover"></div>
    <div class="info">
      <div class="name"></div>
      <div class="artist"></div>
    </div>
  </div>
  <div>
    <div class="cover"></div>
    <div class="info">
      <div class="name"></div>
      <div class="artist"></div>
    </div>
  </div>
  <div>
    <div class="cover"></div>
    <div class="info">
      <div class="name">Auf Und Auf Voll Lebenslust - Franzl Lang</div>
      <div class="artist">Franzl Lang</div>
    </div>
  </div>
  <div>
    <div class="cover">
      <div class="icon play"></div>
      <div class="icon add"></div>
    </div>
    <div class="info">
      <div class="name">Departures～あなたにおくるアイの歌～</div>
      <div class="artist">未知艺术家</div>
    </div>
  </div>
  <div>
    <div class="cover"></div>
    <div class="info">
      <div class="name"></div>
      <div class="artist"></div>
    </div>
  </div>
  <div>
    <div class="cover"></div>
    <div class="info">
      <div class="name"></div>
      <div class="artist"></div>
    </div>
  </div>
</div>
<style>
  .icon  svg {
    margin: auto;
    width: 16px;
    height: 16px;
    fill: none;
    stroke: white;
  }
  .cover:hover .icon:hover {
      padding: 0px;
      transition: padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .icon {
      transform-origin: center;
      transform: scale(0);
    }
    .cover:hover .icon {
      transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: scale(1);
      box-sizing: border-box;
      background-clip: content-box;
      padding: 4px;
      border-radius: 50%;
      color: rgba(0, 0, 0, 0.199);
      background-color: currentColor;
      display: flex;
      width: 54px;
      height: 54px;
    }
  body {
    margin: 0;
  }

  .info {
    width:180px;
  }

  .artist {
    font-size: 12px;
    margin: 0 10px 10px 10px;
    color: rgb(140, 140, 140)
  }

  .name {
    overflow: hidden;
    height: 42px;
    font-size: 14px;
    margin: 0 10px;
  }

  .main {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
  }

  .cover:hover {
    box-shadow: 0 20px 20px rgba(100, 100, 100, 0.452);
  }

  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 160px;
    height: 160px;

  }
</style>
<script type="module" src="../../assets/devIcon.js"></script>