<div id="main">
  <div class="myMusic">我的音乐</div>
  <div class="tags">
    <div class="songs">歌曲</div>
    <div class="singers">歌手</div>
    <div class="albums">专辑</div>
  </div>
  <div class="line"></div>
  <div class="preference">
    <div class="icon random"></div>
    <div class="randomAll">无序播放所有(<span id="total"></span>)</div>
    <div class="sort">
      <span>排序依据: </span>
      <span id="sortBy">无</span>
      <div class="padSortBy">
        <div class="menu menuSortBy">
          <!-- <div class="item" data-selected="selected">无</div>
          <div class="item">A到Z</div>
          <div class="item">歌手</div>
          <div class="item">专辑</div> -->
        </div>
        <div class="mask"></div>
      </div>
    </div>
    <div class="type">
      <span>类型: </span>
      <span id="type">所有流派</span>
      <div class="padType">
        <div class="menu menuType">
          <!-- <div class="item" data-selected="selected">所有流派</div>
          <div class="item">Other</div>
          <div class="item">R&B</div>
          <div class="item">未知流派</div> -->
        </div>
        <div class="mask"></div>
      </div>
    </div>
  </div>
</div>
<style>
   * {
     cursor: default;
   }
   .mask {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(202, 202, 202, 0.199); */
   }
   .menu {
     z-index: 1;
    box-shadow: rgba(128, 128, 128, 0.49) 0 10px 13px;
    padding: 1px;
    background-color: whitesmoke;
    border: 1px black solid;
   }
   .item:hover {
    box-shadow: inset 0 0 2px 15px rgba(218, 218, 218, 0.5); 
   }
   [data-selected="selected"] {
    background-color: var(--themeColor, rgb(113, 204, 192));
   }
   .item {
     line-height: 28px;
    height: 28px;
    width: 105px;
    padding: 0 10px;
    box-sizing: border-box;
   }
   .menuSortBy {
    position: absolute;
    left: 62px;
    top: -5px;
    /* 上下移动时以28px为单位(字体行高) */
   }
   .menuType {
    position: absolute;
    left: 32px;
    top: -5px;
    /* 上下移动时以28px为单位(字体行高) */
   }
   /* #sortBy {
    position: relative;
    left: 62px;
   } */
  #sortBy, #type {
    color: var(--themeColor, rgb(113, 204, 192));
  }
  .icon {
    display: flex;
  }
  svg {
    margin: auto;
  }
  .sort,
  .type {
    position: relative;
    align-self: start;
    margin-top: 16px;
    margin-left: 20px;
  }

  .randomAll {
    margin-left: 10px;
  }

  .preference {
    height: 50px;
    font-size: 14px;
    align-items: center;
    display: flex;
  }

  .random svg {
    fill: none;
    stroke: black;
    width: 16px;
    height: 16px;
  }

  .myMusic {
    margin-top: 10px;
    font-size: 34px;
    font-weight: lighter;
  }

  .tags {
    font-size: 20px;
    display: flex;
    width: 200px;
    justify-content: space-between;
  }

  .tags>div {
    margin-top: 10px;
    padding: 0 0 3px 0;
    border-bottom-color: transparent; 
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: rgb(100, 100, 100)
  }

  .tags>div:hover {
    color: black;
  }

  #acticeTag {
    color: black;
    border-bottom-color: var(--themeColor, rgb(113, 204, 192)); 
  }

  .line {
    position: relative;
    z-index: -1;
    top: -2px;
    width: 100%;
    height: 1px;
    border-bottom: 1px rgb(206, 206, 206) solid;
  }

  @media (max-width: 768px) {
    #main {
      padding-left: 10px;
    }
    .myMusic {
      display: none;
    }
  }
</style>
<script type="module" src="../../assets/devIcon.js"></script>