<div id="main">
<div class="setting">设置</div>
<div class="items first-item">此PC上的音乐</div>
<div class="add">选择查找音乐的位置</div>
<div class="items">播放</div>
<div class="adjust">均衡器</div>
<div class="items">模式</div>
<div class="mode">
  <div><input type="radio" id="light">浅色</div>
  <div><input type="radio" id="dark">深色</div>
</div>
<div class="addPannel">
  <div class="title">从本地曲库创建个人"收藏"</div>
  <div class="statement">现在我们正在查看这些文件夹</div>
  <div class="container">
    <div class="mask"></div>
    <div class="addTile">+</div>
    <div class="tilesContainer">

      <!-- <div class="tile">
        <div class="icon">+</div>
        <div class="basename">CloudMusic</div>
        <div class="path">D:/UW/CloudMusic</div>
      </div>
      <div class="tile"></div>
      <div class="tile"></div> -->
    </div>
  </div>
  <div class="ok">完成</div>
</div>
</div>
<style>
  #main {
    animation: fadeIn 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .mask {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(202, 202, 202, 0.199);
  }

  input {
    width: 20px;
    height: 20px;
  }

  * {
    cursor: default;
  }

  .add:hover {
    color: grey;
  }

  .add {
    cursor: pointer;
    color: var(--themeColor, rgb(113, 204, 192));
  }

  .addTile > *, .tile > * {
    pointer-events: none;
  }

  .addTile, .tile, .ok {
    border: 2px solid transparent;
  }
  .addTile:hover, .tile:hover, .ok:hover {
    border: 2px solid rgb(94, 94, 94);
  }

  .ok {
    background-color: gainsboro;
    margin: 20px 0;
    float: right;
    text-align: center;
    line-height: 30px;
    width: 150px;
    height: 30px;
  }

  .setting {
    position: sticky;
    top: 0;
    height: 45px;
    padding-top: 10px;
    text-align: bottom;
    font-size: 34px;
    font-weight: lighter;
    background-color: white;
  }

  .items {
    font-size: 24px;
    margin-top: 26px;
    margin-bottom: 5px;
  }

  .first-item {
    margin-top: 15px;
  }

  .addPannel {
    display: none;
    z-index: 1;
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid var(--themeColor, rgb(113, 204, 192));
    background-color: white; 
    height: 80vh;
    width: 350px;
    max-height: 756px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: grey 0 10px 20px;
  }
  .container {
    overflow-y: auto;
    height: calc(100% - 100px);
  }
  .title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .statement {
    font-size: 14
  }
  .tile, .addTile {
    margin-top: 8px;
    font-size: 14px;
    position: relative;
    padding: 15px 10px;
    box-sizing: border-box;
    height: 72px;
    background-color: gainsboro;
  }

  .addTile {
    font-weight: lighter;
    text-align: center;
    line-height: 36px;
    font-size: 50px;
  }
  .icon {
    transform: rotate(45deg);
    line-height: 20px;
    font-size: 30px;
    position: absolute;
    right: 10px;
  }
  .basename {
    font-weight: bold;
    overflow: hidden;
    width: 235px;
    white-space: nowrap;
  }
  .path {
    overflow: hidden;
    width: 260px;
    white-space: nowrap;
  }
</style>