<div id="main">
  <!-- <div>
    <div class="letter">D</div>
    <div class="group">
      <div class="item">
        <div class="cover">
          <div class="icon play"></div>
          <div class="icon add"></div>
        </div>
        <div class="artist">Departures～あなたにおくるアイの歌～</div>
      </div>
    </div>
  </div>
  <div>
    <div class="letter">E</div>
    <div class="group">
      <div class="item">
        <div class="cover">
          <div class="icon play"></div>
          <div class="icon add"></div>
        </div>
        <div class="artist">Departures～あなたにおくるアイの歌～</div>
      </div>
      <div class="item">
        <div class="cover">
          <div class="icon play"></div>
          <div class="icon add"></div>
        </div>
        <div class="artist">Departures～あなたにおくるアイの歌～</div>
      </div>
    </div>
  </div> -->
</div>
<style>
  .item {
    margin-left: 10px;
  }

  .group {
    display: flex;
    margin: 10px 0;
  }

  .letter {
    position: sticky;
    top: 149px;
    background-color: white;
    z-index: 1;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--themeColor, rgb(113, 204, 192));
  }

  .icon svg {
    margin: auto;
    width: 16px;
    height: 16px;
    fill: none;
    stroke: white;
  }

  .cover:hover .icon:hover {
    padding: 0px;
    transition: padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .icon {
    transform-origin: center;
    transform: scale(0);
  }

  .cover:hover .icon {
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scale(1);
    box-sizing: border-box;
    background-clip: content-box;
    padding: 4px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.199);
    background-color: currentColor;
    display: flex;
    width: 54px;
    height: 54px;
  }

  body {
    margin: 0;
  }

  .artist {
    width: 140px;
    text-align: center;
    overflow: hidden;
    height: 42px;
    font-size: 14px;
    margin: 10px;
  }

  #main {
    display: flex;
    flex-direction: column;
  }

  .cover:hover {
    box-shadow: 0 20px 20px 5px rgba(100, 100, 100, 0.2);
  }

  .cover {
    display: flex;
    color: rgb(216, 216, 216);
    background-color: currentColor;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid white;
    width: 160px;
    height: 160px;

  }
</style>
<script type="module" src="../../assets/devIcon.js"></script>