<div id="main">

</div>
<style>
  .letter {
    position: sticky;
    top: 149px;
    background-color: white;
    z-index: 0;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--themeColor, rgb(113, 204, 192));
  }

  .play>*,
  .add>* {
    pointer-events: none;
  }

  .name .text {
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
  }

  .name {
    display: flex;
    align-items: center;
    height: inherit;
    width: 20vw;
  }

  .checkBox {
    visibility: hidden;
    width: 20px;
    height: 20px;
    margin: 12px;
    outline: 1px solid black;
  }

  .group {
    margin: 10px 0 20px 0;
  }

  .group>div:hover .checkBox {
    visibility: visible;
  }

  .group>div:nth-child(2n-1) {
    background-color: rgb(240, 240, 240);
  }

  .group>div:hover {
    background-color: rgb(220, 220, 220);
  }

  .group svg {
    margin: auto;
    width: 16px;
    height: 16px;
    fill: none;
    stroke: black;
  }

  .group>div:hover .icon {
    display: flex;
  }

  .group .icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .group .icon {
    display: none;
    flex-shrink: 0;
    height: 48px;
    width: 48px;
  }

  .attribute {
    flex: 1;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
    font-size: 12px
  }

  .artist,
  .album {
    overflow: hidden;
    margin-right: 20px;
  }

  .artist {
    width: 20vw;
  }

  .album {
    flex: 1;
  }

  .date {
    width: 50px;
    margin-right: 20px;
  }

  .duration {
    font-size: 12px;
    margin-right: 10px;
  }

  .group>div {
    display: flex;
    align-items: center;
    height: 48px;
  }

  .style {
    overflow: hidden;
    flex: 1;
  }

  @media (max-width: 1200px) {
    .album {
      display: none;
    }

    .name {
      width: 25vw;
    }
  }

  @media (max-width: 850px) {
    .date {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .style {
      display: none;
    }
  }
</style>